p {
    color: white;
    width: 200px;
    background-color: gray;
    padding:10px 20px;
    border:2px dotted black;
    margin:30px 300px;
    
}

img {
    height: 200px;
}

.lol {
    margin-right: 100px;
    margin-left:100px;
    background-color: gray;
    padding: 5px 5px;
}

.haha{
    border: 5px gray solid;
}